<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h1>UPDATE USER</h1>
    <div>
        <form action="/update-user" method="post">
            <input name="id" type="text" hidden value="<%=dataUser.id%>">
            <div>
                <label for="firstName">Firt name</label>
                <input type="text" id="firstName" name="firstName" value="<%=dataUser.fristName%>">
            </div>
            <div>
                <label for="lastname">Last name</label>
                <input type="text" id="lastname" name="lastname" value="<%=dataUser.lastName%>">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%=dataUser.email%>">
            </div>
            <div>
                <label for="">address</label>
                <input type="text" id="address" name="address" value="<%=dataUser.address%>">
            </div>
            <button type="submit">Update</button>
        </form>
      </div>
</body>
</html>